html{
  margin: 0;
}
.title{
  background-color: gray;
  text-align: center;
  padding: 10px;

}
.game-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-content: center;
  background-color: #191919;
}
.singleGameView{
  border-radius: 15px;
  background-color: beige;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  width: 500px;
  height: 100px;
}
.info{
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 0;
  padding: 0;
}
.buttons{
  display: inline-block;
  float: right;
}
.buttons button{
  margin: 10px;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.delete{
  background-color: red;
  color:white;
  font-weight: bold;
}
.edit{
  background-color: blue;
  color: white;
  font-weight: bold;
}
.delete:hover{
  background-color: darkred;
  color:white;
  font-weight: bold;
}
.edit:hover{
  background-color: darkblue;
  color: white;
  font-weight: bold;
}
