<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="app.component.css">
  <title>TopGames</title>
</head>
<body>
<div class="title">
  <h1>TopGames</h1>
</div>
<div class="navbar">
  <button (click)="addSamples(); refreshPagePls()"> Add Samples </button>
  <button (click)="removeSamples(); refreshPagePls()"> Remove Samples </button>
</div>
<div class="game-container">

  <div class="singleGameView" *ngFor="let game of games">
    <div class="info">
      <h3> {{game.name}} </h3>
      <p> {{game.description}} </p>
    </div>

    <div class="buttons">
      <button class="edit"> EDIT</button> <br>
    <button (click)="deleteGame(game.id); refreshPagePls()" class="delete"> DELETE</button>
    </div>
  </div>


</div>

</body>
</html>
