<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="app.component.css">
  <title>TopGames</title>
</head>
<body>
<header>
  <div class="titlePlusNavBar">
    <h2 class="logo">TOP GAMES</h2>
    <nav>
      <ul>
        <li><a (click)="addSamples(); refreshPagePls()"> Add samples </a></li>
        <li><a (click)="refreshPagePls()"> Add game </a></li>
        <li><a (click)="removeSamples(); refreshPagePls()"> Remove All  </a></li>
      </ul>
    </nav>
  </div>
</header>
<section class="games">
  <h1 class="gameSectionTitle"> Games </h1>
<div class="game-container" id="game-container-id">
    <div class="singleGameView" *ngFor="let game of games">
      <div class="info">
        <h3> {{game.name}} ({{game.releaseDate}}) </h3>
        <p> ID:{{game.id}}</p>
        <p> {{game.developer.name}}</p>
        <p> {{game.description}} </p>
      </div>
      <dialog id="modal{{game.id}}">
        <div>
          <h1> {{game.name}} </h1>
          <p> Elo</p>
          <button (click)="closeModal(game)"> Close </button>
        </div>

      </dialog>

      <div class="buttons">
        <button class="edit" (click)="openEditModal(game)" id="editbutton"> EDIT</button> <br>
      <button (click)="deleteGame(game.id); refreshPagePls()" class="delete"> DELETE</button>
      </div>
    </div>
  </div>
</section>
<section class="users">
  <h1 class="userSectionTitle"> Users</h1>
  <div class="user-container">
    <div class="singleUserView" >

    </div>
  </div>
</section>
</body>
</html>
