<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="app.component.css">
  <title>TopGames</title>
</head>
<body>
<header>
  <div class="titlePlusNavBar">
    <h2 class="logo">TOP GAMES</h2>
    <nav>
      <ul>
        <li><a (click)="addSamples(); refreshPagePls()"> Add samples </a></li>
        <li><a (click)="openAddGameModal()"> Add game </a></li>
        <li><a (click)="removeSamples(); refreshPagePls()"> Remove All  </a></li>
      </ul>
    </nav>
  </div>
</header>
<section class="games">
  <h1 class="gameSectionTitle"> Games </h1>
<div class="game-container" id="game-container-id">
    <div class="singleGameView" *ngFor="let game of games">
      <div class="info">
        <h3> {{game.name}} ({{game.releaseDate}}) </h3>
        <p> ID:{{game.id}}</p>
        <p> {{game.developer.name}}</p>
        <p> {{game.description}} </p>
      </div>

      <dialog id="modal{{game.id}}">
        <div class="modal-container"style="--m-background: var(--global-background);">
          <div class="modal" style="--m-shadow: 0 0 10rem 0">
            <h1 class="modal__title">Edit game</h1>
                        <form>
                          <p class="modal__text"> name: </p><input type="text" placeholder="{{game.name}}"> <br>
                          <p class="modal__text">release year:</p> <input type="text" placeholder="{{game.releaseDate}}"><br>
                          <p class="modal__text"> description:</p><input type="text" placeholder="{{game.description}}"><br>
                          <input type="submit" class="modal__btn" value="Edit">
                          <button class="modal__btn" (click)="closeModal(game)">Close</button>
                        </form>
          </div>
        </div>

      </dialog>

      <div class="buttons">
        <button class="edit" (click)="openEditModal(game)" id="editbutton"> EDIT</button> <br>
      <button (click)="deleteGame(game.id); refreshPagePls()" class="delete"> DELETE</button>
      </div>
    </div>
    <dialog id="createGameModal">
      <div class="modal-container" style="--m-background: var(--global-background);">
        <div class="modal" style="--m-shadow: 0 0 10rem 0">
          <h1 class="modal__title">Add new game</h1>
                    <form #addGameForm="ngForm" (ngSubmit)="addGameFromForm(addGameForm)">
                      <p class="modal__text"> name: </p><input name="gamename" type="text" placeholder="game name"> <br>
                      <p class="modal__text">release year:</p> <input name="gamerelease" type="text" placeholder="game release year"><br>
                      <p class="modal__text"> description:</p><input type="text" name="gamedesc" placeholder="game description"><br>
                      <input type="submit" class="modal__btn" value="Add game">
                      <button class="modal__btn" (click)="closeCreateGameModal()">Close</button>
                    </form>
        </div>
      </div>

    </dialog>
  </div>
</section>
<section class="users">
  <h1 class="userSectionTitle"> Users</h1>
  <div class="user-container">
    <div class="singleUserView" >

    </div>
  </div>
</section>
</body>
</html>
